
<div class="container" >
    <img src="../../../assets/img/fondo1.jfif" alt="Imagen de fondo" class="background-image">
    <div class="text-container">
        <h2>About the project:</h2>
        <p>This project has been created under the awareness of the changing nature of the world of technologies, which requires a constant updating of those who work with them.
            That is why, for the realization of this project we have used some tools that have not been studied during the degree, not only to give them visibility, but also to show the optimization of the work thanks to their use.
            The project is developed with the Angular tool in its version 17 as the front-end of the application, with the use of typescript as the only language.
            The main origin of this project is focused on completing the TFG, an essential requirement to finish the degree in multiplatform application development. This project in its beginning represented a great challenge, numerous questions were running through my head, will I be able to make a functional web application with this technology, will I have time, considering the limited time for delivery, will I be able to learn a new language from scratch?
            During this process, little by little those questions that arose at the beginning were finding answers.
 
   </p>
    </div>
</div>