.goUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background-color: #af51e6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }

  .card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.card img {
    opacity: 0.7;
    width: 100%;
    transition: opacity 0.7s;
}

.card img:hover {
    opacity: 1;
}