

.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.card img {
  opacity: 0.7;
  width: 100%;
  transition: opacity 0.7s;
}

.card img:hover {
  opacity: 1;
}