
<div class="row justify-content-center mt-3">
    <div class="col-xs-12 col-sm-8 col-md-6 justify-content-center">
        <div class="card ">
            <div class="image">
                <img [src]="character.image"
                 [alt]="character.name"
                 class="card-img-top"
                 />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2 class="text-center"> {{character.name}}</h2>
                  
                    <h5> Specie: 
                        <i [class]="getSpecieIcon(character.species)"></i>
                        {{character.species}}
                    </h5>

                    <h5> Gender: 
                        <i [class]="getGenderIcon(character.gender)"></i>
                        {{character.gender}}
                    </h5>
                      
                    <h5> Status: 
                        <i [class]="getStatusIcon(character.status)"></i>
                        {{character.status}}
                    </h5>

                    <h5 class="text-muted">Origin: {{character.origin.name}}</h5>
                    <h5 class="text-muted">Type: {{character.type}}</h5>
                    
                    
                    <h5 class="text-muted">Last know location: {{character.location.name}}</h5>
                    <h5 class="text-muted"> {{character.name}} appears in {{character.episode.length}} episodes.</h5>

                   
                   
                    <div class="card-column">
                        <span [innerHTML]="getStarsIcon(character.episode.length)"></span>
                      </div>
                      <small class="text-muted">{{character.created | date}}</small>
                    <br>
                    <div class="card-column">
                        <button class="btn btn-light" (click)="addFavorite($event, character)">
                          <i [class]="character.isFavorite ? 'fas fa-heart text-danger' : 'far fa-heart'"></i>
                        </button>
                        
                      </div>
                    <button (click)="goBack()" class="btn btn-dark btn-lg mt-3 w-100">
                        Back
                    </button>
                    
                </div>
            </div>
        </div>
    </div>

</div>


