

    <div class="container" >
        <img src="../../../assets/img/fondo2.jfif" alt="Imagen de fondo" class="background-image">
        <div class="text-container">
            <h2>About tha author:</h2>
            <p> My name is Álvaro Hontoria Sánchez, and I am the creator of the Multiverse app. I consider myself a creative and hardworking person, before studying programming,
                I studied fine arts at the Complutense University of Madrid.
                At first I thought about developing a mobile application for the end of the course project, but everything changed after the start of the training practices in workplaces, 
                where I started working on web development with the Angular framework.
                At that moment I thought it would be a good learning system to try to develop a web application, with the challenge that this meant,
                 since my studies at the IES SAMPEDRO center were related to multiplatform application development.
                 Another challenge of creating a web application, was to learn a new programming language, Typscript, which works with the Angular framework.
                 Despite all the difficulties, this experience has been extremely enriching on a personal and intellectual level,
                as it has allowed me to expand my knowledge and skills in web development, gain confidence in myself and value the work done.
       </p>
        </div>
    </div>