.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .remove-button,
  .details-button {
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-button {
    background-color: #ff4747; /* Color rojo */
    color: white;
  }
  
  .details-button {
    background-color: #60e57f; /* Color azul */
    color: white;
  }
  
  .remove-button:hover,
  .details-button:hover {
    background-color: #dc3545; /* Color rojo más oscuro */
  }
  
  .details-button:hover {
    background-color: #00b312; /* Color azul más oscuro */
  }
  
  .card-column {
    margin-top: 10px;
  }
  
  .card-column i {
    font-size: 24px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-container button {
    margin: 0 5px; /* Espacio entre los botones */
  }